extends ../main

block variables
    - var title = 'Рюкзак RELS Avangard 84 0523'
    - var main = false

block content
    .page__content
        .container
            .bread.page__bread
                a(href='/').bread__link
                    +icon('home','bread__link-svg')
                span.bread__link
                    span.bread__link-txt Пример контента

            .content
                h1 Пример контента
                p ЭТО SEO текст! Наша компания обладает современным оборудованием для тиснения логотипов на изделиях из натуральной и искусственной кожи, включая обложки ежедневников. Логотип золотого, серебряного или другого нужного цвета выдавливается в материале под воздействием температуры и давления. Вы можете разместить заказ на тиснение по коже фольгой или без нее позвонив по телефону +7 495 369-53-75
                img(src='images/content/img.jpg' style='width: 970px;margin-left: auto;margin-right: auto; display: block;')
                h3 Наши преимущества:
                ol
                    li Мы работаем исключительно на современном оборудовании.
                    li Качество тиснения логотипов на коже гарантировано многолетним опытом.
                    li У нас работают высококвалифицированные специалисты.
                    li Мы оказываем профессиональную помощь в создании уникальной сувенирной и корпоративной продукции.
                    li Мы выполним свою работу по тиснению логотипа на коже лучше чем вы можете предположить!
                    li Низкие цены на услуги.
                ul
                    li Мы работаем исключительно на современном оборудовании.
                    li Качество тиснения логотипов на коже гарантировано многолетним опытом.
                    li У нас работают высококвалифицированные специалисты.
                    li Мы оказываем профессиональную помощь в создании уникальной сувенирной и корпоративной продукции.
                    li Мы выполним свою работу по тиснению логотипа на коже лучше чем вы можете предположить!
                    li Низкие цены на услуги.
                ol
                    li Мы работаем исключительно на современном оборудовании.
                        ol
                            li Мы работаем исключительно на современном оборудовании.
                            li Качество тиснения логотипов на коже гарантировано многолетним опытом.
                            li У нас работают высококвалифицированные специалисты.
                    li Качество тиснения логотипов на коже гарантировано многолетним опытом.
                    li У нас работают высококвалифицированные специалисты.
                    li Мы оказываем профессиональную помощь в создании уникальной сувенирной и корпоративной продукции.
                    li Мы выполним свою работу по тиснению логотипа на коже лучше чем вы можете предположить!
                    li Низкие цены на услуги.
                a(data-fancybox href='https://www.youtube.com/watch?v=_sI_Ps7JSEk' style='display:block; max-width: 550px; margin: 0 auto; margin-bottom: 30px;')
                    img(src='images/content/product/yt.jpg' alt='lorem1')
                h2 Цены на тиснение логотипа
                p Наша компания обладает современным оборудованием для тиснения логотипов на изделиях из натуральной и искусственной кожи, включая обложки ежедневников. Логотип золотого, серебряного или другого нужного цвета выдавливается в материале под воздействием температуры и давления. Вы можете разместить заказ на тиснение по коже фольгой или без нее позвонив по телефону +7 495 369-53-75
                h3 Цены на блинтовое тиснение:
                table
                    tr
                        td Размер короба, глубина 80 мм
                        td Стоимость короба
                    tr
                        td
                            | 600*1000 мм
                            br
                            | 1000*1500 мм
                            br
                            | 1500*3000 мм
                        td
                            | 13 200 р.
                            br
                            | 22 500 р.
                            br
                            | 56 250 р.
                h3 Таблица
                div(style='overflow-y:auto')
                    table
                        tr
                            th Наименование
                            th Наименование
                            th Наименование
                            th Наименование
                        tr
                            td Формат
                            td 2AA
                            td 2AA
                            td 2AA
                        tr
                            td Видимое изображение (мм)
                            td 1200×1500
                            td 1200×1500
                            td 1200×1500
                        tr
                            td Размер постера (мм)
                            td 1200×1500
                            td 1200×1500
                            td 1200×1500
                        tr
                            td Потребляемая мощность (Вт)
                            td 260
                            td 260
                            td 260
                        tr
                            td Количество сторон
                            td 1
                            td 1
                            td 1
                        tr
                            td Вес (кг)
                            td 15
                            td 15
                            td 15







