.btn {
  width: 188px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #ffffff;

  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include tr;


  &:hover {
    background-color: #325afe;
    border-color: #325afe;
  }
}

.btn2 {
  width: 219px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #ffffff;

  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include tr;

  @include lg-block {
    font-size: 14px;
  }
  @include sm-block {
    width: 158px;
    height: 35px;
  }

  &_b {
    border: 1px solid #151515;
    color: #151515;

    &:hover {
      color: #fff;
    }
  }

  &:hover {
    background-color: #325afe;
    border-color: #325afe;
  }

}

.btn3 {
  width: 157px;
  height: 45px;
  border-radius: 5px;
  background-color: #f2c94c;

  color: #000000;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include tr;

  @include lg-block {
    font-size: 14px;
  }
  @include sm-block {
    width: 120px;
    height: 35px;
  }

  &:hover {
    background-color: #325afe;
    color: #ffffff;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_2 {
    justify-content: center;

    .title__txt {
      color: #ffffff;

      &:before {
        background-color: #f2c94c;
        background-color: #0a0de1;
      }
    }
  }

  &__txt {
    color: #151515;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    @include sm-block {
      font-size: 18px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &:before {
      content: '';
      display: block;
      height: 25px;
      background-color: #f2c94c;
      position: absolute;
      z-index: -1;
      bottom: -3px;
      left: 0;
      right: 0;
      @include sm-block {
        height: 13px;
      }
    }
  }

  &__link {

    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #13131D;
    @include tr;

    @include sm-block {
      font-size: 12px;
      display: none;
    }

    &:hover {
      color: #325afe;
    }
  }

}

.bread {

  &__link {
    padding: 0 15px;
    border-right: 1px solid rgba(#000, .5);
    position: relative;
    cursor: pointer;
    @include tr;

    @include sm-block {
      line-height: 14.26px;
      padding: 0 10px;
    }

    &:hover{
      .bread__link-txt {
        color: #325afe;
      }
      .bread__list{
        display: block;
      }
    }

    &:first-child {
      padding-left: 0;
    }

    &.active {
      border-color: transparent;
      &:hover{
        cursor: initial;
        .bread__link-txt{
          color: rgba(#000000, .5);
        }
      }
    }

    &:last-child{
      border-color: transparent;
    }

    &-svg {
      width: 28px;
      height: 28px;
      fill: #f2c94c;
      display: inline;
      margin-bottom: -6px;
      @include sm-block {
        width: 18px;
        height: 18px;
        margin-bottom: -2px;
      }
    }

    &-txt {
      color: rgba(#000000, .5);
      font-size: 16px;
      font-weight: 400;
      @include sm-block {
        font-size: 12px;
      }
    }

  }

  &__list {
    position: absolute;
    z-index: 10;
    top: calc(100% + 15px);
    left: 50%;
    width: 300px;
    margin-left: -150px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    display: none;
    @include sm-block{
      width: 200px;
      padding: 15px 10px;
      margin-left: -100px;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 13px 9px;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -6.5px;
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      height: 20px;
    }

  }

  &__sublink {
    display: block;
    line-height: lh(16, 23);
    padding: 1px 0;
    color: #000000;
    @include tr;

    &:hover{
      color: #325afe;
    }
  }
}