//variables
$vh: 1080;

@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@function lh($size1, $size2) {
  $lh: $size2 / $size1;
  @return $lh;
}

@function vh($size) {
  @return $size/$vh *100*1vh;
}

@mixin content() {

  ul,ol{
    margin-bottom: 50px;
  }

  ul {
    li {
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 6px;
        background-color: #0a0de1;
        border-radius: 50%;
        margin-right: 20px;
        line-height: inherit;
        position: relative;
        top: -2px;
      }

      ul {
        margin-bottom: 0;
        margin-left: 25px;

        li {
          &:before {
            background-color: #0a0de1;
          }
        }
      }
    }
  }

  ol {
    margin-bottom: 30px;
    counter-reset: li;
    margin-left: 20px;

    li {

      &:before {
        counter-increment: li;
        content: counters(li, ".") ". ";
        display: inline-block;
        color: #0a0de1;
        margin-right: 10px;
      }

      ol{
        margin-bottom: 0;
      }
    }

  }

  h1, h2,h3,h4,h5,h6 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 15px;
  }
}

@mixin headers() {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}

@mixin tr(){
  transition: .3s;
}