-
    var nav = [
        {
            title: 'О нас',
            href: 'about.html'
        },
        {
            title: 'Оплата и доставка',
            href: 'delivery.html'
        },
        {
            title: 'каталог',
            href: 'catalog.html'
        },
        {
            title: 'Наши проекты',
            href: 'projects.html'
        },
        {
            title: 'Контакты',
            href: 'contacts.html'
        },

    ];
-
    var ipops = [
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },

    ];