-
    var nav = [
        {
            title: 'О нас',
            href: 'about.html'
        },
        {
            title: 'Оплата и доставка',
            href: 'delivery.html'
        },
        {
            title: 'каталог',
            href: 'catalog.html'
        },
        {
            title: 'Наши проекты',
            href: 'projects.html'
        },
        {
            title: 'Контакты',
            href: 'contacts.html'
        },

    ];
-
    var ipops = [
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },

    ];
-
    var catalogSort = [
        {
            title: 'Сортировать: По умолчанию',
            cls: 'active'
        },
        {
            title: 'Сортировать: По имени (А-Я)'
        },
        {
            title: 'Сортировать: По имени (Я-А)'
        },
        {
            title: 'Сортировать: По цене (возрастанию)'
        },
        {
            title: 'Сортировать: По цене (убыванию)'
        },
        {
            title: 'Сортировать: По рейтингу (убыванию)'
        },
        {
            title: 'Сортировать: По рейтингу (возрастанию)'
        },
        {
            title: 'Сортировать: По модели (убыванию)'
        },
        {
            title: 'Сортировать: По модели (возрастанию)'
        }
    ];
-
    var clist = [
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },
        {
            src:'images/content/catalog/img.jpg',
            title: 'ФРЕЙМЛАЙТ ДВУСТОРОННИЙ A4+',
            price: '8 110 РУБ.'
        },

    ];